body {
    font-family: 'Roboto';
    background: rgb(20, 20, 20);
    overflow: hidden;
    margin: 35% 0 0 0;
}

.titles-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    perspective: 500px;
    position: relative;
}

.titles {
    color: #ffc909;
    text-align: center;
    /* font-size: 2vw; */
    font-size: 35px;
    font-weight: bold;
    position: relative;
    animation: crawl 30s linear infinite;
}

.titles p {
    line-height: 2em;
    text-align: justify;
}

@keyframes crawl {
    from 
    {top: 0; transform: translateZ(0) rotateX(15deg)}
    to 
    {top: -2800px; transform: translateZ(-700px) rotateX(16deg)}
}